$white: white;
$cream: rgb(231, 228, 222);

$bg-color: rgb(223, 223, 223);
$main-color: #7acffa;
$main2-color: rgb(96, 35, 196);

$navy: navy;
$mint:rgb(2, 103, 129);
$gradient1: linear-gradient(45deg, #7878f3, #83e9f5);



